:root{
    --roxo: #370562 ; /*#A14686 e #551934*/
    --verde: #94C105;
    --marrom: #6D5C42;
    --verde-escuro: #039330;
    --branco: #FCFBF1;
    --cinza: rgb(141, 125, 125);
    --roxo2: #3F0F9A;
}
body{
    background-color: var(--branco);
}
