@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0px;
    padding: 0px;
    font-family: "Noto Serif", serif;
}
/* header */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
}
#logo{
    width: 85px;
    height: auto;
}
.links{
    display: flex;
    gap: 50px;
}
nav a{
    text-decoration: none;
    font-size: 1.1em;
}
nav a:hover{
    color: var(--cinza);
}
.svg-imgs{
    width: 25px;
    height: auto;
}
/* sections */
.sections{
    /* margin-left: 15rem;
    margin-right: 15rem; */
    display: flex;
    justify-content: center;
    /* height: 90vh; */
}
/* apresentação - section1 */
#container-setcion{
    display: flex;
    align-items: center;
    gap: 5rem;
}
#container-setcion img{
    width: 500px;
    height: auto;
}
#section1-text{
    width: 700px;
}
#container-setcion h1{
    color: var(--roxo);
    font-size: 3.5rem;
}
#container-setcion p{
   color: var(--roxo);

}
#container-setcion button{
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid var(--branco);
    background-color: var(--roxo);
    color: var(--branco);
    padding: 13px 23px 13px 23px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
#container-setcion button:hover{
    background-color: var(--branco);
    color: var(--roxo);
    border: 2px solid var(--roxo);
    font-weight: bold;
    font-style: italic;
    transform: scale(1.1);
}
/* produtos - section 2*/
.container-main-section2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.container-main-section2 h2{
    color: var(--roxo);
    font-size: 3rem;
}
.div-main-section2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.containers-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 2px solid var(--roxo);
    border-radius: 20px;
    width: 400px;
    height: 250px;
    background-color: var(--roxo);
}
.containers-section2 img{
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--branco);
    box-shadow: 0px 0px 2px 0px white;
}
.produto-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 45px;
}
.produto-p{
    color: var(--branco);
    font-weight: bold;
    font-size: 1.8rem;
}
.containers-section2 a{
    color: var(--branco);
}
.saiba-mais-produtos {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: gap 0.5s ease;
    width: 120px;
}
.saiba-mais-produtos p:last-child {
    transition: transform 0.5s ease;
}
.saiba-mais-produtos:hover {
    gap: 5px;
}
.saiba-mais-produtos:hover p:last-child {
    transform: translateX(10px);
}
/* section 3 - instagram */
#section3{
    background-image: linear-gradient(45deg, #3F0F9A, #8E50CD);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}
#section3 h2{
    color: var(--branco);
    font-size: 3rem;
}
.instagram-contents{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.imagem-quadrada-insta img{
    width: 250px;
    height: 250px;
    border-radius: 3px;
    transition: ease 0.3s;
    box-shadow: none;
}
.imagem-quadrada-insta img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.59);
}
.imagem-retangular-insta img{
    width: 450px;
    height: 250px;
    border-radius: 3px;
    transition: ease 0.3s;
    box-shadow: none;
}
.imagem-retangular-insta img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.59);
}







/* footer*/
footer{
    text-align: center;
}